body {
   background-image: url("../Recursos/400890804335518038\(JPG\).jpg") ;
   height: 180vh;
   background-size: cover;
   background-position: center;
   text-align: center;
   font-family: sans-serif;

}

H1 {
    color: rgb(89, 159, 250); 
    text-shadow: 0 0 5px rgb(119, 165, 218), 0 0 15px rgb(67, 190, 199), 0 0 30px rgb(55, 235, 245), 0 0 50px rgb(13, 0, 255);
    font-size: 70px;
    

}

#colores {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.ejer button {
   display: block;
   margin-bottom: 20px;
   width: 300px;
   --glow-color:rgb(57, 131, 155);
   --glow-spread-color: rgba(59, 162, 181, 0.781);
   --enhanced-glow-color: rgb(137, 247, 243);
   --btn-color:rgb(3, 3, 3);
   border: .25em solid var(--glow-color);
   padding: 1em 3em;
   color: var(--glow-color);
   font-size: 25px;
   font-weight: bold;
   background-color: var(--btn-color);
   border-radius: 0.5em;
   outline: none;
   box-shadow: 0 0 1em .25em var(--glow-color),
   0 0 4em 1em var(--glow-spread-color),
   inset 0 0 .75em .25em var(--glow-color);
   text-shadow: 0 0 .5em var(--glow-color);
   position: relative;
   transition: all 0.3s;
}
.ejer button:after{
pointer-events: none;
position: absolute;
top: 120%;
left: 0;
height: 100%;
width: 100%;
background-color: var(--glow-spread-color);
filter: blur(2em);
opacity: .7;
transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}
.ejer button:hover{
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color)
    inset 0 0 .75em .25em var(--glow-color);

}
.ejer button:active{
    box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color)
    inset 0 0 .5em .25em var(--glow-color);

}

a{
    text-decoration: none;
}
.res{
    margin-bottom: 180px;
}
